<button mat-icon-button color="primary" routerLink="form">
  <mat-icon>add_box</mat-icon>
</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="nit">
    <th mat-header-cell *matHeaderCellDef> Nit </th>
    <td mat-cell *matCellDef="let element"> {{element.nit}} </td>
  </ng-container>

  <ng-container matColumnDef="fullname">
    <th mat-header-cell *matHeaderCellDef> Fullname </th>
    <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Phone </th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">

      <button mat-icon-button color="primary" [routerLink]="['form', element.id]">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="primary" [routerLink]="['visit', element.id]">
        <mat-icon>note_add</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>